<IfModule mod_rewrite.c>
    ErrorDocument 500 http://web.shanghongbo.com/admin/500.html
    ErrorDocument 404 http://web.shanghongbo.com/admin/404.html
#    ErrorDocument 401 http://web.shanghongbo.com/admin/401.html
    ErrorDocument 403 http://web.shanghongbo.com/admin/403.html
</IfModule>