<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<script src="{$Think.config.JS}fileSaver.js"></script>
<script src="{$Think.config.JS}util.js"></script>

<link rel="stylesheet" type="text/css" href="{$Think.config.VUE}index.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.CSS}base.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.CSS}normalize.css">
<script src="{$Think.config.VUE}vue.js"></script>
<script src="{$Think.config.VUE}vue-resource.min.js"></script>
<script src="{$Think.config.VUE}index.js"></script>
{__CONTENT__} 